<ul class="navbar-nav nav bg-gradient-primary sidebar sidebar-dark accordion toggled" id="accordionSidebar">

 
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'home' %}">
      <div class="sidebar-brand-icon rotate-n-15">
        <i class="fas fa-laugh-wink"></i>
      </div>
      <div class="sidebar-brand-text mx-3">Hi</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
      <a class="nav-link" href="#">
        <i class="fas fa-fw fa-home"></i>
        <span>Home</span></a>
    </li>

    <li class="nav-item ">
      <a class="nav-link" href="#">
        <i class="fas fa-fw fa-paste"></i>
        <span>On i will</span></a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="#">
        <i class="fas fa-fw fa-graduation-cap"></i>
        <span>Do it</span></a>
    </li>
   



    <!-- Admin Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          <i class="fas fa-fw fa-cog"></i>
          <span>Admin</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Admin:</h6>
            <a class="collapse-item" href="#">A1</a>
            <a class="collapse-item" href="#">A2</a>
            <a class="collapse-item" href="#">A3</a>
          </div>
        </div>
      </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
      <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

  </ul>